{% extends 'base.html' %}

{% block content %}
<h1 align="center"> Рейтинг </h1>

<div class="catalog-isotope" data-catalog-filter="*" data-catalog-layout="masonry" data-catalog-sort="original-order" data-aos="fade-up" data-aos-delay="100">

          <div class="row gy-4 catalog-container">

			<div class="wrapper">
                {% for rating in game_rating %}
	<div class="card">
		<div class="poster"></div>
		<div class="details">
			<h1 id ='pcName' > {{ rating.game_name }} </h1>
			<div class="tags">
			</div>

			<dl class="about-game">
  {% if rating.avg_total_score >=70 %}
                <p class="score-circle bg-success" align="center" style="background-color: green; color: white; font-size: 30pt; width: 100px; height: 100px; display: flex; align-items: center; justify-content: center; margin: 0 auto; border-radius:50px;">{{ rating.avg_total_score }}</p>
                {% elif 40 <= rating.avg_total_score < 70 %}
                <p class="score-circle bg-warning" align="center" style="background-color: orange; color: white; font-size: 30pt; width: 100px; height: 100px; display: flex; align-items: center; justify-content: center; margin: 0 auto; border-radius:50px;">{{ rating.avg_total_score }}</p>
                {% else %}
                <p class="score-circle bg-danger" align="center" style="background-color: red; color: white; font-size: 30pt; width: 100px; height: 100px; display: flex; align-items: center; justify-content: center; margin: 0 auto; border-radius:50px;">{{ rating.avg_total_score }}</p>
                {% endif %}
</dl>
</div>
	</div>
                {% endfor %}
</div>
              </div>
    </div>
{% endblock %}
